autopilot==0.3.0
Click==7.0
distlib==0.3.0
gitdb2==2.0.6
GitPython==3.0.5
input==0.0.0
Mako==1.1.0
MarkupSafe==1.1.1
numpy==1.18.1
opencv-python==4.2.0.32
pigpio==1.44
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
sarge==0.1.5.post0
smmap2==2.0.5
